body{
    background-color: aquamarine;
}

.fps{
    display: none;
}

#parameters, #parameters2{
    display: none;
}

#video-player{
    display: none;
}

.video-source{
    display: none;
    margin-bottom: 10px;
}

#video-preview{
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 5%;
}

.mainbody{
    display: flex;
    justify-content: center;
}

.display-3d{
    margin-right: 50px;
}

canvas.live2D{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    pointer-events: none;
}
.canvas-container{
    padding: 30px;
    display: inline-block;
}


div.character{
    width: 300px;
    height: 500px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: aquamarine;
    display: inline-block;
}

.display-3d{
    display: inline-block;
}